<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@@title</title>
    <link rel="stylesheet" href="@@fileRoot/css/reset.css">
    <link rel="stylesheet" href="@@fileRoot/css/common.css">
    <link rel="stylesheet" href="@@fileRoot/css/report.css">
</head>
<body>
<div class="container clearfix">
    <div class="header">
        <a href="@@fileRoot/html/" class="fl"><img src="@@fileRoot/images/logo-2.png" alt=""></a>
        <div class="user fr">
            <a href="@@fileRoot/html/student/personal_center/personal_info_index.html">学生空间</a> /
            <div class="links-entrance">
                <a href="@@fileRoot/html/student/realism_record.html">切换到学生</a>
                <a href="@@fileRoot/html/teacher/student_comment.html">切换到教师</a>
                <a href="http://127.0.0.1/dcp">切换到校级</a>
                <a href="@@fileRoot/html/country/index.html">切换到县级</a>
                <a href="@@fileRoot/html/city/index.html">切换到市级</a>
                <a href="@@fileRoot/html/province/data.html">切换到省级</a>
            </div>
            <a href="@@fileRoot/html/student/help.html">帮助</a>
        </div>
    </div>
</div>
<div class="nav" index="@@index">
    <ul class="clearfix">
        <li><a href="@@fileRoot/html/student/realism_record.html">写实记录</a></li>
        <li><a href="@@fileRoot/html/student/my_comment.html">我的评价</a></li>
        <li><a href="@@fileRoot/html/student/observe_points.html">我的观测点</a></li>
        <li><a href="@@fileRoot/html/student/my_publicity.html">我的公示</a></li>
        <li><a href="@@fileRoot/html/student/student_elegant.html">学生风采</a></li>
        <li><a href="@@fileRoot/html/student/classes_zoom.html">班级空间</a></li>
    </ul>
</div>